.user-text {
    font-size: 40px;
}

.user-card {
    height: 90px;
}

.timer {
    background-color: black;
    color: white;
}

.timer-text {
    font-size: 130px;
    line-height: 1;
    font-weight: bold;
}

input {
    color: black;
    font-weight: bold;
}

input:focus {
    outline: none;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(./quiz-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}