.user-text {
    font-size: 40px;
}

.user-card {
    height: 90px;
}

.timer {
    background-color: black;
    color: white;
}

.timer-text {
    font-size: 120px;
    line-height: 1;
}

input:focus {
    outline: none;
}